Node red JSON file.json
[{"id":"614e8255c1f336bb","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"197856d23ae9cbff","type":"ui_dropdown","z":"614e8255c1f336bb","name":"","label":"","tooltip":"","place":"Select option","group":"08fc5d3be9b8dd36","order":0,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"9788b960d51242f56c9ff931b9241e3a","value":"9788b960d51242f56c9ff931b9241e3a","type":"str"},{"label":"a153a86e8ad6052c635b4c3aad93d849","value":"a153a86e8ad6052c635b4c3aad93d849","type":"str"},{"label":"60a236887232a93a10479dbdc1eb3640","value":"60a236887232a93a10479dbdc1eb3640","type":"str"},{"label":"b347f585a6d4e3a6efdeeb4d44c14bd1","value":"b347f585a6d4e3a6efdeeb4d44c14bd1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":150,"y":140,"wires":[["ce40af05b2237cfa","caf2be97e04016f9"]]},{"id":"ce40af05b2237cfa","type":"cloudant in","z":"614e8255c1f336bb","name":"","cloudant":"","database":"employee","service":"node-red-vjpmx-2021--cloudant-1636102416092-30990","search":"_id_","design":"","index":"","x":280,"y":80,"wires":[["46f163e7450a8e33","5f5ac05f008bcbb4"]]},{"id":"caf2be97e04016f9","type":"debug","z":"614e8255c1f336bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":340,"wires":[]},{"id":"46f163e7450a8e33","type":"debug","z":"614e8255c1f336bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"5f5ac05f008bcbb4","type":"function","z":"614e8255c1f336bb","name":"","func":"msg.payload=msg.payload.conv\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[["0cc6c56c6c58e7bb","4beb8eab01289c7a"]]},{"id":"0cc6c56c6c58e7bb","type":"debug","z":"614e8255c1f336bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":240,"wires":[]},{"id":"4beb8eab01289c7a","type":"watson-tone-analyzer-v3","z":"614e8255c1f336bb","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/306ed5b8-96be-4ef8-a718-310f824b65b6","x":460,"y":180,"wires":[["f69a392c5214173c","4f6b8c1d4c4769df"]]},{"id":"f69a392c5214173c","type":"debug","z":"614e8255c1f336bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":160,"wires":[]},{"id":"4f6b8c1d4c4769df","type":"function","z":"614e8255c1f336bb","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar n=\"\"\nvar ut=msg.response.utterances_tone;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.utterances_tone[i].tones.length\n    for (j=0;j<tone;j++){\n        n=msg.response.utterances_tone[i].tones[j].tone_name;\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Polite\"){\n           p=p+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sad\"){\n           s=s+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Frustrated\"){\n           fr=fr+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Impolite\"){\n           ip=ip+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Satisfied\"){\n           sa=sa+1\n       }\n        else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sympathetic\"){\n           sy=sy+1\n       }\n        \n    }\n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy],\n    \"labels\": [ \"polite\",\"sad\", \"frustrated\",\"impolite\",\"satisfied\",\"sympathetic\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":400,"wires":[["17b13c55ba36f066","169732820da83dcd","ed9646452c728b14"]]},{"id":"17b13c55ba36f066","type":"debug","z":"614e8255c1f336bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":420,"wires":[]},{"id":"169732820da83dcd","type":"ui_chart","z":"614e8255c1f336bb","name":"","group":"4982c70359ae6941","order":0,"width":0,"height":0,"label":"Sentiment Analysis","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":580,"y":500,"wires":[[]]},{"id":"ed9646452c728b14","type":"function","z":"614e8255c1f336bb","name":"","func":"msg.payload=msg.response.utterances_tone\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":600,"wires":[["4290ab15222c90d6"]]},{"id":"4290ab15222c90d6","type":"cloudant out","z":"614e8255c1f336bb","name":"","cloudant":"","database":"Sentiment","service":"node-red-vjpmx-2021--cloudant-1636102416092-30990","payonly":false,"operation":"insert","x":750,"y":680,"wires":[]},{"id":"08fc5d3be9b8dd36","type":"ui_group","name":" employee","tab":"2a8dce641cbeeb9e","order":1,"disp":true,"width":"6","collapse":false},{"id":"4982c70359ae6941","type":"ui_group","name":"Sentiment of Conservation","tab":"2a8dce641cbeeb9e","order":2,"disp":true,"width":"6","collapse":false},{"id":"2a8dce641cbeeb9e","type":"ui_tab","name":"Sentiment Analysis","icon":"dashboard","disabled":false,"hidden":false}]